<%- include("./common/head.ejs") %>

<body class="hold-transition dark-skin sidebar-mini theme-primary fixed">
  <div class="wrapper">
    <%- include("./common/header.ejs") %> <%-
    include("./common/leftSideBar.ejs") %>
    <!-- CONTENT START-->
    <div class="content-wrapper">
      <div class="container-full">
        <!-- PAGE HEADER START -->
        <div class="content-header">
          <div class="d-flex align-items-center">
            <div class="mr-auto">
              <h3 class="page-title">Add Table</h3>
              <div class="d-inline-block align-items-center">
                <nav>
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                      <a href="#"><i class="mdi mdi-home-outline"></i></a>
                    </li>
                    <li class="breadcrumb-item" aria-current="page">Admin</li>
                    <li class="breadcrumb-item active" aria-current="page">
                      Add-Table
                    </li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </div>
        <!-- PAGE HEADER END -->
        <!-- Main Contain Start -->
        <form
          action="/admin/add-team"
          method="post"
          enctype="multipart/form-data"
        >
          <div class="card-body">
              <div class="row">
                <div class="col-4">
                  <label for="name">Name :</label>
                  <input
                type="text"
                name="name"
                value="<%= value ? value?.name :'' %>"
                class="form-control p-3"
                id="name"
                placeholder="Enter name"
              />
                  <p class="text-danger text-sm">
                    <% if(error && error?.name){ %> <%=
                    error.name?.message %> <% } %>
                  </p>
                </div>
                <div class="col-4">
                  <label for="faceBookLik">faceBookLik :</label>
                  <input
                type="text"
                name="faceBookLik"
                value="<%= value ? value?.faceBookLik :'' %>"
                class="form-control p-3"
                id="faceBookLik"
                placeholder="Enter faceBookLik"
              />
                  <p class="text-danger text-sm">
                    <% if(error && error?.faceBookLik){ %> <%=
                    error.faceBookLik?.message %> <% } %>
                  </p>
                </div>
                <div class="col-4">
                    <label for="twitterLink">twitterLink :</label>
                    <input
                  type="text"
                  name="twitterLink"
                  value="<%= value ? value?.twitterLink :'' %>"
                  class="form-control p-3"
                  id="twitterLink"
                  placeholder="Enter twitterLink"
                />
                    <p class="text-danger text-sm">
                      <% if(error && error?.twitterLink){ %> <%=
                      error.twitterLink?.message %> <% } %>
                    </p>
                  </div>
                  <div class="col-4">
                    <label for="service_title">instagramLink :</label>
                    <input
                  type="text"
                  name="instagramLink"
                  value="<%= value ? value?.instagramLink :'' %>"
                  class="form-control p-3"
                  id="instagramLink"
                  placeholder="Enter instagramLink"
                />
                    <p class="text-danger text-sm">
                      <% if(error && error?.instagramLink){ %> <%=
                      error.instagramLink?.message %> <% } %>
                    </p>
                  </div>
                <div class="col-8">
                  <label for="designation">Designation :</label>
                  <input
                type="text"
                name="designation"
                value="<%= value ? value?.designation :'' %>"
                class="form-control p-3"
                id="designation"
                placeholder="Enter Designation"
              />
                  <p class="text-danger text-sm">
                    <% if(error && error?.designation){ %> <%=
                    error.designation?.message %> <% } %>
                  </p>
                </div>
                <div class="col-8">
                    <label for="avatar">Choose Avatar :</label>
                    <input
                  type="file"
                  name="avatar"
                  class="form-control p-3"
                  id="avatar"
                  accept="image/png, image/jpg, image/jpeg, image/avif"
                  required
                />
                  </div>
              </div>
            </div>
            <!-- IMG END -->
            <div class="form-check">
              <input
                type="checkbox"
                checked
                required
                class="form-check-input"
                id="exampleCheck1"
              />
              <label class="form-check-label" for="exampleCheck1"
                >Check me out</label
              >
            </div>
          </div>
          <!-- card-body -->

          <div class="card-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
        <!-- Main Contain End -->
      </div>
    </div>
    <!-- CONTENT END -->
    <%- include("./common/footer.ejs") %>
  </div>
</body>
