<%- include("./common/head.ejs") %>

<body class="hold-transition dark-skin sidebar-mini theme-primary fixed">
  <div class="wrapper">
    <%- include("./common/header.ejs") %> <%-
    include("./common/leftSideBar.ejs") %>
    <!-- CONTENT START-->
    <div class="content-wrapper">
      <div class="container-full">
        <div class="content-header">
          <!-- PAGE HEADER START -->
          <div class="content-header">
            <div class="d-flex align-items-center">
              <div class="mr-auto">
                <h3 class="page-title">All tables</h3>
                <div class="d-inline-block align-items-center">
                  <nav>
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item">
                        <a href="#"><i class="mdi mdi-home-outline"></i></a>
                      </li>
                      <li class="breadcrumb-item" aria-current="page">Admin</li>
                      <li class="breadcrumb-item active" aria-current="page">
                        All-tables
                      </li>
                    </ol>
                  </nav>
                </div>
              </div>
            </div>
          </div>
          <!-- PAGE HEADER END -->
          <div class="col-sm-6 mx-auto">
            <% if( flashMsg && flashMsg?.success?.length > 0) { %>
            <div class="alert alert-success mx-" role="alert">
              <%= flashMsg.success %>
            </div>
            <% } %> <% if(flashMsg && flashMsg?.error?.length > 0) { %>
            <div class="alert alert-danger mx-" role="alert">
              <%= flashMsg.error %>
            </div>
            <% } %> <% if(flashMsg && flashMsg?.msg?.length > 0) { %>
            <div class="alert alert-warning mx-" role="alert">
              <%= flashMsg.msg %>
            </div>
            <% } %>
          </div>
          <!-- Main Section Start -->
          <section class="content">
            <div class="col-12">
              <div class="box">
                <div class="box-header with-border">
                  <h4 class="box-title">tables Table</h4>
                  <div class="box-controls pull-right">
                    <div class="lookup lookup-circle lookup-right">
                      <input type="text" name="s" />
                    </div>
                  </div>
                </div>
                <div class="box-body no-padding">
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>No</th>
                          <th>Name</th>
                          <th>Status</th>
                          <th>Booking Status</th>
                          <th>Switch Status</th>
                          <th>Booking Switch</th>
                        </tr>
                        <% let id=0 %>
                      </thead>
                      <!-- TABLE CONTENT -->
                      <% if(tables){ %> <% for( let table of tables) { %>
                      <tr>
                        <td><%= table?.no %></td>
                        <td class="text-uppercase"><%= table?.name %></td>
                        <td>
                          <span
                            class="badge badge-pill <%= table?.isActive ? 'badge-success' :'badge-danger' %>"
                          >
                            <%= table?.isActive ? 'Available' : 'Not available'
                            %>
                          </span>
                        </td>
                        <td>
                          <span
                            class="badge badge-pill <%= table?.isBooked ? 'badge-success' : 'badge-danger' %>"
                            ><%= table?.isBooked ? 'Already booked' :
                            'Not-Booked' %></span
                          >
                        </td>
                        <td>
                          <a
                            class="d-flex justify-content-center"
                            href="/admin/switch-table-status/<%= table?._id %>"
                          >
                            <img
                              src="/images/arrows.png"
                              class="rounded-3"
                              style="width: 30px"
                              alt="Avatar"
                            />
                          </a>
                        </td>
                        <td>
                          <a
                            class="d-flex justify-content-center"
                            href="/admin/switch-booking-status/<%= table?._id %>"
                          >
                            <img
                              src="/images/arrows.png"
                              class="rounded-3"
                              style="width: 30px"
                              alt="Avatar"
                            />
                          </a>
                        </td>
                      </tr>
                      <% } %> <% } %>
                      <!-- TABLE CONTENT -->
                    </table>
                    <% if(tables?.length < 1){ %>
                    <h2 class="text-center">Data Not Found..!</h2>
                    <% } %>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- Main Section End -->
        </div>
      </div>
    </div>
    <!-- CONTENT END -->
    <%- include("./common/footer.ejs") %>
  </div>
</body>
